body {
   margin: 20px;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 16px;
    display: inline-block;

}

.msg {
    background-color: lightgreen;
    color: black;
    padding: 5px 15px;
    border-radius: 16px;

}

.btn {
    background-color:white;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}